{% extends 'base.html' %}

{% block content %}
    <div class="container" id="addMessage">
        <h2>Post a Message</h2>
        <form class="form-group col-sm-8 form-horizontal">
            <label class="form-label" for="title">Message Title</label>
            <input class="form-control" id="title" v-model="titleinput">

            <label class="form-label" for="description">Message text</label>
            <textarea class="form-control" id="description" rows="3" v-model="textinupt"></textarea>

            <button class="btn" v-on:click="addMessage()">Submit</button>
        </form>
    </div>
{% endblock %}