{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Post a Message</h2>
        <form class="form-group col-sm-8 form-horizontal">
            <label class="form-label" for="title">Message Title</label>
            <input class="form-control" id="title" v-model="titleinput">

            <label class="form-label" for="description">Message text</label>
            <textarea class="form-control" id="description" rows="3" v-model="textinupt"></textarea>

            <button class="btn" v-on:click="addMessage()">Submit</button>
        </form>
    </div>

    <div class="container">
        <h2>Available Messages</h2>
        <p v-if="messages.length == 0">Sorry, no jobs currently available</p>
        <div v-for="message in messages" class="message container">
            <div class="col-sm-12">
                <h3>[[ message.title ]]</h3>
                <h3>[[ message.status ]]</h3>

            </div>
            <div class="col-sm-12">
                <p>[[ message.text ]]</p>
                <button class="btn" v-on:click="changeStatus($index)"><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn" v-on:click="removeMessage($index)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>

{% endblock %}